.card{
    border: none;
    width: 600px;
    padding: 45px;
    position: absolute;
    top: 15%;
    left: 30%;
    background: transparent;
    background: rgba(36, 95, 122, .9);
  
}

label{
    color: #ffff;
}
.card h3, h6{
    color: #ffff;
}

a{
    color: #ffff;  
    padding-top: 10px;
}

button{
    box-sizing: 20px;
    border-radius: 100px;
 }
