<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Books</title>
</head>
<body>
  <app-navbar></app-navbar>

    <div class="container mt-2 mb-2 text-center" style="text-decoration: underline;color: rgb(45, 53, 53);">
      <h2 class="text-success">
         All Books
      </h2>
    </div>

    <div class="text-center text-danger" *ngIf="showErrorMessage">
      <h4> 
      <marquee direction="lef">No Library Books Available ...</marquee>
      </h4>
    </div>

    <div class="container" class="text-center" *ngIf="!showErrorMessage">
        <table class="table table-striped table-hover table-bordered">
            <thead class="text-primary">
              <tr>
                <th scope="col">Book Name</th>
                <th scope="col">Author</th>
                <th scope="col">Genre</th>
                <th scope="col">Price</th>
                <th scope="col">Book Availability Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let libraryBook of libraryBooks">
                <td>{{ libraryBook.bookName }}</td>
                <td>{{ libraryBook.author }}</td>
                <td>{{ libraryBook.genre | titlecase}}</td>
                <td>{{ libraryBook.price | currency:'INR'}}</td>
                <td>{{ libraryBook.status | titlecase}}</td>
                <td><button class="text-light btn btn-danger btn-sm" (click)="deleteBook(libraryBook.bookId)">X</button></td>
              </tr>
            </tbody>
          </table>
    </div>
</body>
<app-footer></app-footer>
</html>