.card{
    border: none;
    width: 600px;
    height: 630px;
    padding: 45px;
    position: absolute;
    top: 15%;
    left: 30%;
    background: hsla(205,46%,30%,1);
    background: linear-gradient(90deg,hsla(205,46%,30%,1) 0%,hsla(260,29%,36%,1)100%);
}

label{
    color: #ffff;
}
.card h3, h6{
    color: #ffff;
}

a{
    color: #ffff;  
    padding-top: 10px;
}

button{
    box-sizing: 20px;
    border-radius: 100px;
 }
