.card{
    border: none;
    width: 600px;
    min-height: 450px;
    max-height: 550px;
    padding: 45px;
    position: absolute;
    top: 15%;
    left: 30%;
    background: rgb(245, 152, 191);
}

label{
    color: #ffff;
}
.card h1, h6{
    color: #ffff;
}

button{
   box-sizing: 20px;
   border-radius: 100px;
}

a{
    color: #ffff;  
    padding-top: 25px;
}