.card{
    border: none;
    width: 600px;
    min-height: 450px;
    max-height: 550px;
    padding: 45px;
    position: absolute;
    top: 15%;
    left: 30%;
    background: transparent;
    background: rgb(0, 0, 0,.5);
}

label{
    color: #ffffff;
}
.card h1, h6{
    color: #ffffff;
}

button{
   box-sizing: 20px;
   border-radius: 100px;
}

a{
    color: #ffff;  
    padding-top: 25px;
}


body{
    background-image: url('../../../images/login-bg-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}