<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Details</title>
</head>
<body>
  <app-navbar></app-navbar>

    <div class="container-fluid mt-5">
        <h2 class="text-center text-success" style="text-decoration: underline;">Transaction Summary</h2>
    </div>

    <div class="account-balance mt-2">
      <p class="fw-bold text-center text-light" style="padding-top: 35px; font-size: large;">AccountHolderName: &nbsp;<span class="text-light fw-normal text-capitalize"> {{user.fullName }}</span> </p> 
      <p class="fw-bold text-start text-light" style="padding-left: 48px; font-size: large;">Available Balance: &nbsp;&nbsp;<span class="text-light fw-normal">{{balance | currency:'INR'}}</span></p> 
    </div>


    <div class="container mt-3 ">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-success rounded-pill d-flex align-items-end" data-bs-toggle="modal" data-bs-target="#myModal">
               <span>+ </span> <strong >Send Money</strong> 
              </button>
        </div>
      </div>
      
      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header bg-primary d-flex justify-content-center">
              <h4 class="modal-title text-light ">Enter Loan Details</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
             
                <form [formGroup]="transferForm" (ngSubmit)="transferMoney()">


                    <div class="mb-1">
                        <label for="accountNumber" class="form-label">Account Number:</label>
                        <input formControlName ="accountNumber" type="number" [(ngModel)]="user.accountNumber" class="form-control" readonly>
                    </div>
                      
                      <div class="mb-1">
                        <label for="amount" class="form-label">Balance:</label>
                        <input formControlName ="amount" type="number" class="form-control" [(ngModel)]="user.balance" placeholder="Enter Loan Amount" readonly>
                      
                        <div *ngIf="submitted && transferForm.controls['amount']" class="text-danger">
                            <div *ngIf="submitted && transferForm.hasError('required','amount')">
                                *Balance is required.
                            </div>
                        </div>

                    </div>

                    <div class="mb-1">
                        <label for="date" class="form-label">Applied Date:</label>
                        <input formControlName ="date" type="date" class="form-control" placeholder="Enter Date">
                      
                        <div *ngIf="submitted && transferForm.controls['date']" class="text-danger">
                            <div *ngIf="submitted && transferForm.hasError('required','date')">
                                *Please select date.
                            </div>
                        </div>

                    </div>


                    <div class="mb-1">
                        <label for="trxType" class="form-label">Transaction Type:</label>
                        <input formControlName ="trxType" type="text"  class="form-control" [(ngModel)]=debit placeholder="Enter Transaction Type">
                      
                        <div *ngIf="submitted && transferForm.controls['trxType']" class="text-danger">
                            <div *ngIf="submitted && transferForm.hasError('required','trxType')">
                                * Transaction Type is required.
                            </div>
                        </div>
                      </div>

                      <div class="mb-1">
                          <label for="accountNumber" class="form-label">Receiver AccountNumber:</label>
                          <input formControlName ="receiverAccountNumber" type="number" class="form-control">
                      
                          <div *ngIf="submitted && transferForm.controls['receiverAccountNumber']" class="text-danger">
                            <div *ngIf="submitted && transferForm.hasError('required','receiverAccountNumber')">
                                * Receiver AccountNumber is required.
                            </div>
                        </div>

                        <div class="mb-1">
                          <label for="trxAmount" class="form-label">Transaction Amount:</label>
                          <input formControlName ="trxAmount" type="number" class="form-control">
                      
                          <div *ngIf="submitted && transferForm.controls['trxAmount']" class="text-danger">
                            <div *ngIf="submitted && transferForm.hasError('required','trxAmount')">
                                * Transaction Amount is required.
                            </div>
                        </div>
                      
                        </div>

                        <div class="d-flex flex-row-reverse mt-3">
                            <button type="submit" class="btn btn-primary rounded-pill btn-lg me-3 rounded">Transfer</button>
                          </div>
                    </div>
                    
                </form>
            </div>
      
          </div>
        </div>
      </div>

        <div class="text-center mt-4">
            <table class="table table-striped table-hover table-bordered">
                <thead class="text-primary">
                  <tr>
                    <th colspan="4" class="text-center">Transaction Details</th>
                    <td colspan="3"><span>Date</span>
                      <select class="form-select date-format" (change)="sortData($event)">
                        <option value="ASC" selected>ASC</option>
                        <option value="DESC">DESC</option>
                      </select>
                    </td>
                  </tr>
                </thead>

                <thead class="text-primary">
                  <tr>
                    <th scope="col">Transaction Id</th>
                    <th scope="col">Transaction Amount</th>
                    <th scope="col">Transaction Type</th>
                    <th scope="col">AccountNumber</th>                    
                    <th scope="col">Date</th>
                    <th scope="col">Avaialbe Amount</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let loanInfo of loanDetails">
                    <td>{{"Tranx1122" + loanInfo.transactionId}}</td>
                    <td>{{loanInfo.trxAmount | currency:'INR'}}</td>
                    <td>{{ loanInfo.trxType  | titlecase}}</td>
                    <td>{{ loanInfo.receiverAccountNumber }}</td>         
                    <td>{{ loanInfo.date}}</td>
                    <td>{{ loanInfo.amount | currency:'INR'}}</td>
                 </tr>
                </tbody>
              </table>
        </div>

        <div class="d-flex justify-content-center" *ngIf="hasTableData">
            <strong class="text-danger text-center">No Transaction Details Avaialbe..</strong>
        </div>


</body>
</html>