<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <app-navbar></app-navbar>
    <div class="container mt-5 text-center bg-light text-dark">
        <marquee behavior=""><h1 class="pd-2" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Welcome To Digital Books Management Store</h1></marquee>
    </div>

    <div class="background-image mt-2"></div>
</body>
<app-footer></app-footer>
</html>
