<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NavBar</title>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
      <a class="navbar-brand text-white" routerLink="/homePage" >Library Books Store</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" routerLink="/homePage" aria-current="page" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" routerLink="/addBook" aria-current="page" >Add Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" routerLink="/getBooks" aria-current="page" >All Books</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
</html>