<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

  <app-navbar></app-navbar>

    <div class="container text-center text-dark d-flex justify-content-center">
        <marquee behavior="scroll" direction="right" scrollamount="10"><h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Welcome To VRK Bank Portal</h1></marquee>
    </div>
</body>
</html>